$primary-color: white;
$bg: black;

* {
  margin: 0px;
  padding: 0;
  font-family: 'Alumni Sans Pinstripe'
}

.header-container {
    margin-bottom: 50px;
    display: flex;
    align-content: flex-end;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    opacity: 0.95;
    height: 5rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
    h1{
        margin-right: 70%;
    }

.header-component button {
    border-radius: 5px;
    padding: 0.8em 1.8em;
    border: 2px solid #252cb0;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: #252cb0;
    justify-items: flex-end;
    min-width: 100px;
    margin-right: 15px;
}
  

  